body {
  margin: 0;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
}

.contentWrapper {
  position: absolute;
  z-index: 1;
  margin: 0;
}

/*Monitor display CSS*/
#monitorDisplay {
  top: 11.5em;
  left: 15em;
  margin: 0;
  padding: 0;

  width: 1423px;
  height: 666px;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;

  border: solid 3px green;

  visibility: visible;
}

#desktop {
  width: 100%;
  height: 92%;
  border: solid 2px;
}

#projectBar {
  width: 100%;
  height: 8%;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  border: solid 1px;
}

.pBElement {
  height: 100%;
  width: 5%;
  border: solid 1px;
}

#searchMock {
  width: 20%;
}





































#laptopDisplay {
  top: 18.5em;
  left: 25.7em;
  margin: 0;
  padding: 0;

  width: 1054px;
  height: 540px;

  border: solid 3px green;
  visibility: hidden;

}

#phoneDisplay {
  top: 18.1em;
  left: 52.3em;
  margin: 0;
  padding: 0;

  width: 245px;
  height: 525px;

  border: solid 3px green;
  visibility: hidden;
}

h1 {
  z-index: 1;
  color: black;
}