body {
  margin: 0;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
}

.contentWrapper {
  position: absolute;
  z-index: 1;
  margin: 0;
}

/*Monitor display CSS*/
#monitorDisplay {
  top: 11.5em;
  left: 15em;
  margin: 0;
  padding: 0;

  width: 1423px;
  height: 666px;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;

  border: solid 3px green;

  visibility: hidden;
}

#desktopScreen {
  width: 100%;
  height: 92%;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  border: solid 2px;
}

#topBar {
  width: 100%;
  height: 5%;
  background-color: gray;
}

.projectInfos {
  width: 50%;
  height: 75%;
  background-color: blue;
}

#gallery {
  width: 100%;
  height: 20%;
  background-color: brown;
}

#projectBar {
  width: 100%;
  height: 8%;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  border: solid 1px;
}

.pBElement {
  height: 100%;
  width: 5%;
  border: solid 1px;
}

#searchMock {
  width: 20%;
}




/*Laptop display CSS*/
#laptopDisplay {
  top: 18.5em;
  left: 25.7em;
  margin: 0;
  padding: 0;

  width: 1054px;
  height: 540px;

  border: solid 3px green;
  visibility: hidden;
}

#laptopScreen {
  position: relative;

  width: 100%;
  height: 100%;
}

.abElement {
  position: absolute;

  left: 50%;

  margin: auto;
  border: 1px solid;
  border-radius: 10px;
}

.appTopBar {
  width: 100%;
  height: 7%;
  border: solid 1px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#introduction {
  top: 2%;
  transform: translateX(-60%);

  width: 75%;
  height: 75%;
}

#skills-experience {
  top: 2%;
  transform: translateX(-50%);

  width: 85%;
  height: 85%;
}

#funFacts {
  top: 15%;
  transform: translateX(-45%);

  width: 65%;
  height: 70%;
}






#aboutMeBar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;

  margin: auto;


  width: 80%;
  height: 10%;
  border: solid 4px;
  border-radius: 5px;
}

/*Phone display CSS*/
#phoneDisplay {
  top: 20.6em;
  left: 52.5em;
  margin: 0;
  padding: 0;

  width: 238px;
  height: 445px;

  border: solid 3px green;
  visibility: hidden;
}

#phoneScreen {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.contactApp {
  width: 40%;
  height: 40%;
  border: solid 1px;
  gap: 1em;
}