body {
  margin: 0;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
}

.contentWrapper {
  position: absolute;
  z-index: 1;
  margin: 0;
}



/*Monitor display CSS*/
#monitorDisplay {
  top: 11.5em;
  left: 15em;
  margin: 0;
  padding: 0;

  width: 1429px;
  height: 671px;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;

  visibility: hidden;
}

#projectDisplay {
  width: 100%;
  height: 92%;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;

  visibility: hidden;
}

.mTopBar {
  width: 100%;
  height: 5%;

  display: flex;
  align-items: center;
  justify-content: end;

  background-color: gray;
}

#windowName {
  flex-grow: 1;
}

#mWindowClose {
  width: 4%;
  height: 100%;

  background-color: rgba(0, 0, 0, 1);
}

#mWindowClose p {
  color: white;
  margin: auto;
  text-align: center;
}

#mWindowClose:hover {
  background-color: rgba(255, 0, 0, 1);
  cursor: pointer;
}

.projectInfos {
  width: 50%;
  height: 75%;
  background-color: blue;
}

#projDetails {
  display: flex;
  flex-direction: column;
}

.pDetailsItem {
  width: 100%;
  height: 50%;

  border: solid 1px;
}

#gallery {
  width: 100%;
  height: 20%;
  background-color: brown;
}

#projectBar {
  width: 100%;
  height: 8%;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  background-color: rgb(240, 211, 183);
}

.pBElement {
  width: 5%;
  height: 100%;
  border: solid 1px;
}

.pBElement:hover {
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}


#searchMock {
  width: 20%;
}




/*Laptop display CSS*/
#laptopDisplay {
  top: 18.5em;
  left: 25.7em;
  margin: 0;
  padding: 0;

  width: 1054px;
  height: 540px;

  visibility: hidden;
}

#laptopScreen {
  position: relative;

  width: 100%;
  height: 100%;
}

.abWindow {
  position: absolute;

  left: 50%;

  margin: auto;
  border: 1px solid;
  border-radius: 10px;
}

.appTopBar {
  width: 100%;
  height: 7%;

  display: flex;
  align-items: center;
  justify-content: end;

  border: solid 1px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgba(181, 181, 181, 1);
}

.lWindowClose {
  margin-right: 1.5em;

  width: 12px;
  height: 12px;

  border: solid 1px;
  border-radius: 50px;
  background-color: rgba(255, 0, 0, 1);
}

.lWindowClose:hover {
  cursor: pointer;
}

#introduction {
  top: 2%;
  transform: translateX(-60%);

  width: 75%;
  height: 75%;

  z-index: 10;
  visibility: hidden;
}

#skills-experience {
  top: 2%;
  transform: translateX(-50%);

  width: 85%;
  height: 85%;

  z-index: 10;
  visibility: hidden;
}

#funFacts {
  top: 15%;
  transform: translateX(-45%);

  width: 65%;
  height: 70%;

  z-index: 10;
  visibility: hidden;
}

#aboutMeBar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;

  width: 80%;
  height: 10%;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgba(227, 227, 227, 1)
}

.abBarElement {
  width: 5%;
  height: 80%;

  border: solid 1px;
  border-radius: 10px;
}

.abBarElement:hover {
  cursor: pointer;
}

/*Phone display CSS*/
#phoneDisplay {
  top: 20.6em;
  left: 52.7em;
  margin: 0;
  padding: 0;

  width: 238px;
  height: 445px;

  visibility: hidden;
}

#phoneScreen {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 2em;
}

.contactApp {
  width: 35%;
  height: 17%;
  border: solid 1px;
  border-radius: 15px;
  gap: 1em;
}

.contactApp:hover {
  background-color: rgba(31, 31, 31, 0.7);
}