@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
}

.monText {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.lapText {
  font-family: Roboto, sans-serif;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
}

.videocontainer {
  width: 100%;
  object-fit: cover;
}

#navButtonWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

.navButton {
  cursor: pointer;
  border: solid 1px green;
}

#monNav {
  position: absolute;
  top: 28.5em;
  left: 38.7em;
  right: 0;

  width: 625px;
  height: 320px;
}

#lapNav {
  position: absolute;
  top: 43em;
  left: 22em;

  width: 260px;
  height: 180px;
}

#phnNav {
  position: absolute;
  top: 52em;
  left: 91.5em;
  right: 0;

  width: 115px;
  height: 80px;
}

#defaultNav {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 1200px;
  height: 150px;

  visibility: hidden;
}

.contentWrapper {
  position: fixed;
  top: 0;
  left: 0;

  z-index: 1;
  margin: 0;
}


/*Monitor display CSS*/
#monitorDisplay {
  top: 11.5em;
  left: 15em;
  margin: 0;
  padding: 0;

  width: 1429px;
  height: 671px;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  background-color: rgb(222, 222, 222, 1);

  visibility: hidden;
}

#modalContentWindow {
  position: absolute;
  align-self: center;

  width: 70%;
  height: 90%;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  visibility: hidden;
  z-index: 10;
}

#modalContent {
  height: 94%;

  background-color: rgba(255, 255, 255, 1);
  border: solid 1px;
  background-position: center;
  background-size: cover;
}

#modalVideo {
  width: 100%;
  height: auto;
}

.modal {
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

#projectDisplay {
  width: 100%;
  height: 92%;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;

  visibility: hidden;
  z-index: 10;
}

.mTopBar {
  width: 100%;
  height: 5%;

  display: flex;
  align-items: center;
  justify-content: end;

  background-color: gray;
}

.windowName {
  flex-grow: 1;
}

.mWindowClose {
  width: 50px;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 1);
  transition: background-color 0.08s linear;
  cursor: pointer;
}

.mWindowClose p {
  color: white;
}

.mWindowClose:hover {
  background-color: rgba(255, 0, 0, 1);
  transition: background-color 0.08s linear;
}

.projectInfos {
  width: 50%;
  height: 75%;
  background-color: blue;
}

#projHeadlines h1 {
  text-align: center;

  font-size: 80px;
  margin-bottom: 0;
}

#projHeadlines h2 {
  text-align: center;

  font-style: italic;
}

#studioPlayBar {
  width: 100%;
  height: 12%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5em;

  margin-top: 2em;
}

.sPBItem {
  width: 10%;
  height: 100%;

  border: solid 1px;
}

#projDetails {
  display: flex;
  flex-direction: column;
}

.pDetailsItem {
  width: 100%;
  height: 50%;

  border: solid 1px;
}

#gallery {
  width: 100%;
  height: 20%;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 3em;

  background-color: brown;
}

.monGalleryElement {
  width: 10%;
  height: 80%;

  background-position: center;
  background-size: cover;
  border: solid 1px;
}

#smallProjectFinder {
  position: absolute;
  align-self: center;
  top: 30%;
  transform: translateY(-30%);

  width: 70%;
  height: 70%;

  display: flex;
  flex-direction: column;

  visibility: hidden;
  background-color: rgba(255, 255, 255, 1);
  z-index: 10;
}

#finderContent {
  width: 100%;
  height: 94%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

#path {
  width: 60%;
  height: 5%;

  border: solid 1px;
  margin-left: 5em;
}

#searchFolder {
  width: 28%;
  height: 5%;

  display: flex;
  align-items: center;

  border: solid 1px;
  margin-left: 1em;
}

#folderList {
  width: 15%;
  height: 95%;

  margin-top: 20px;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.fListOption {
  width: 100%;
  height: 6%;

  display: flex;

  align-items: center;
  border-right: solid 1px;
}

.fListOption:Hover {
  background-color: rgba(201, 228, 255, 1);
}

.fListOption h2 {
  font-size: 15px;
  margin-left: 5px;
}

.fListOption p {
  font-size: 15px;
  margin-left: 15px;
}

#smallProjectsList {
  width: 85%;
  height: 95%;

  margin-top: 20px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

#listTitle {
  width: 100%;
  height: 5%;

  display: flex;
  align-items: center;
}

#listTitle p {
  color: blue;
  font-size: 18px;
  margin-left: 10px;
}

#listTitle hr {
  flex-grow: 1;
  color: rgba(219, 219, 219, 1);
}

.smallProjectContainer {
  width: 30%;
  height: 20%;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-top: 1em;
  margin-left: 1em;

  border: solid 1px;
  cursor: pointer;
}

.smallProjectContainer:Hover {
  background-color: rgba(201, 228, 255, 1);
}

.smallProjectIcon {
  width: 40%;
  height: 75%;

  margin-left: 10px;

  background-position: center;
  background-size: cover;
}

.sPText {
  flex-grow: 1;
  height: 100%;

  padding-left: 5px;
  text-align: start;
}

.sPText h2 {
  font-size: 15px;
  margin-bottom: 0;
}

.sPText p {
  font-size: 12px;
  margin-top: 5px;
}


#smallProjectProperties {
  width: 30%;
  height: 85%;

  position: absolute;
  align-self: center;
  top: 25%;
  transform: translateY(-25%);

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;

  border: solid 1px;
  visibility: hidden;
  background-color: rgba(255, 255, 255, 1);
  z-index: 10;
}

#sPropertiesContainer {
  width: 100%;
  flex-grow: 1;

  background-color: rgba(200, 200, 200, 1);
}

#sPropertiesContent {
  width: 90%;
  height: 85%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;

  background-color: rgba(255, 255, 255, 1);
}

.sProperty {
  width: 100%;
  min-height: 10%;
  border-bottom: solid 1px;
}

#descProperty {
  height: 35%;
  overflow: auto;
}

#sProjGallery {
  height: 40%;
  overflow: hidden;
}

#spgWrapper {
  width: 600%;
  height: 100%;
  display: flex;

  cursor: grab
}

.sGalleryElement {
  width: 100%;
  height: 100%;

  background-position: center;
  background-size: cover;
}

#projectBar {
  width: 100%;
  height: 8%;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.2em;

  list-style: none;
  background-color: rgba(252, 234, 217, 1);
}

.pBElementContainer {
  width: 5%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  border: solid 1px;
  cursor: pointer;
}

.pBElementContainer:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.pBElementIcon {
  width: 70%;
  height: 70%;

  background-position: center;
  background-size: cover;
}

#searchMock {
  width: 20%;
}


/*Laptop display CSS*/
#laptopDisplay {
  top: 18.5em;
  left: 25.7em;
  margin: 0;
  padding: 0;

  width: 1060px;
  height: 545px;

  background-color: rgba(100, 100, 100, 1);
  visibility: hidden;
}

#laptopScreen {
  position: relative;

  width: 100%;
  height: 100%;
}

.abWindow {
  position: absolute;

  left: 50%;
  /*make sure to change to em*/

  margin: auto;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
}

.appTopBar {
  width: 100%;
  height: 7%;

  display: flex;
  align-items: center;
  justify-content: end;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgba(181, 181, 181, 1);
}

.appTopBar p {
  margin-right: 1.5em;
  text-align: end;
}

.lWindowClose {
  margin-left: 1.5em;

  width: 12px;
  height: 12px;

  border: solid 1px;
  border-radius: 50px;
  background-color: rgba(255, 0, 0, 1);
  cursor: pointer;
}

.abText {
  width: 100%;
  height: 100%;
  text-align: end;
}

.lWindowContent {
  width: 100%;
  height: 93%;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#introduction {
  top: 2%;
  transform: translateX(-60%);

  width: 75%;
  height: 75%;

  z-index: 10;
  visibility: hidden;
}

#infoSide {
  width: 20%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.infoSideElement {
  width: 100%;
  height: 20%;

  border-top: solid 1px;
  border-right: solid 1px;
}

.iSEhead {
  font-size: 15px;
  margin-left: 2px;
}

.iSEpara {
  font-size: 10px;
  margin-left: 2px;
}

#infoMain {
  max-width: 80%;
  height: 100%;
}

#infoMain h2 {
  text-align: center;
}

#infoMain p {
  margin-left: 5px;
}

#skills-experience {
  top: 2%;
  transform: translateX(-50%);

  width: 85%;
  height: 85%;

  z-index: 10;
  visibility: hidden;
}

.seCol {
  height: 100%;
  margin: 0;
  padding: 0;
}

#sName {
  width: 20%;
  border-bottom-left-radius: 10px;
}

#sProf {
  width: 30%;
  border-left: solid 1px;
  border-right: solid 1px;
}

#sExp {
  max-width: 50%;
  border-bottom-right-radius: 10px;
}

.colElement {
  width: 100%;

  display: flex;
  align-items: center;
}

.colHead {
  height: 5%;

  justify-content: center;
  background-color: rgba(244, 244, 244, 1);
  font-size: 12px;
}

.categoryDivide {
  height: 5%;
  justify-content: center;

  font-style: italic;
  background-color: rgba(222, 222, 222, 1);
}

.colMain {
  height: 15%;

  font-size: 13px;
  background-color: rgba(255, 255, 255, 1);
}

.colAltMain {
  height: 15%;
  font-size: 13px;
  background-color: rgba(233, 233, 233, 1);
}

.skillText {
  justify-content: left;
}

.skillText p {
  margin-left: 20px;
}

.profText {
  justify-content: right;
}

.profText p {
  margin-right: 10px;
}

.expText p {
  text-align: left;
  padding-left: 8px;
}

#funFacts {
  top: 10%;
  transform: translateX(-45%);

  width: 50%;
  height: 75%;

  z-index: 10;
  visibility: hidden;
}

/* #fFInfo {} */

#fFGalleryWrapper {
  height: 100%;
  flex-grow: 1;
  overflow: hidden;

  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

.fFButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 6%;
  height: 30%;

  border: solid 1px;
  cursor: pointer;
}

#fFForward {
  right: 0;
}

#fFGallery {
  width: 300%;
  height: 100%;
  display: flex;
}

.fFElement {
  width: 100%;
  height: 100%;
  background-color: brown;
}

#fact1 {
  background-color: green
}

#fact2 {
  background-color: black;
}

#fact3 {
  background-color: brown;
}

#aboutMeBar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;

  width: 80%;
  height: 10%;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgba(227, 227, 227, 1)
}

.abBarElement {
  width: 5%;
  height: 80%;

  border: solid 1px;
  border-radius: 10px;
  cursor: pointer;
}

/*Phone display CSS*/
#phoneDisplay {
  top: 20.6em;
  left: 52.7em;
  margin: 0;
  padding: 0;

  width: 238px;
  height: 445px;

  visibility: hidden;
}

#phoneScreen {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 2em;
}

.contactApp {
  width: 30%;
  height: 15%;

  border: solid 1px;
  border-radius: 15px;
  gap: 1em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

#LI {
  background-image: url(Images/linkedin.webp);
}

#GT {
  background-image: url(Images/github.webp);
}

#EM {
  background-image: url(Images/mail.webp);
}

#BS {
  background-image: url(Images/bluesky.webp);
}

.contactApp:hover {
  background-color: rgba(31, 31, 31, 0.3);
}